<div id="<%= dom_id cart_line %>">
  <p>
    <strong>Product:</strong>
    <%= cart_line.product_id %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= cart_line.cart_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= cart_line.quantity %>
  </p>

</div>
