<!DOCTYPE html>
<html>
  <%= render 'layouts/shared/head' %>
  <body>
    <%= render 'layouts/shared/navbar' %>
    <div class="container mt-3">
      <%= render 'layouts/shared/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
